body{
    background-color: #3e4146;
    color: #ffffff;
    min-width: 100vh;
    min-height: 100vh;
}

.playerindiccont{
    display: flex;
}

.indicator{
    align-content: flex-end;
}

.play-area{}